<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/vendors/css/normalize.css">
        <link rel="stylesheet" href="/static/vendors/css/grid.css">
        <link rel="stylesheet" href="/static/vendors/css/ionicons.min.css">
        <link rel="stylesheet" href="/static/resources/css/style.css">
        <link rel="stylesheet" href="/static/resources/css/queries.css">
        
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300italic,400" rel="stylesheet">
        <title>OAS-based on Web</title>
    </head>
    <body>
        <header class="login-header">
            
                <div class="hero-text-box">
                    <h1 style="font-weight: bolder">Weclome to this Online-Answer-Syetem.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Please login.</h1>
                    <form class="search-bar" action="/login/" method="post">
                        
                        <div class="row">
                            <div class="col span-1-of-3">
                                <h3 style="font-weight:bolder;color: #fff">Username</h3>
                            </div>
                            <div class="col span-2-of-3">
                                <input type="text" name="username" id="name">
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col span-1-of-3">
                                <h3 style="font-weight:bolder;color: #fff">Password</h3>
                            </div>
                            <div class="col span-2-of-3">
                                <input type="password" name="password" id="name">
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col span-1-of-3">
                                <label>&nbsp;</label>
                            </div>
                            <div class="submit-row">
                                <input type="submit" value="Login">
                            </div>
                        </div>
                               
                    </form>
            </div>              
        </header>
        
        {% if messages %}
        <script>
            {% for message in messages %}
            alert( "{{ message.message }}" );
            {% endfor %}
        </script>
        {% endif %}
                
                
    </body>
    
     
        
</html>

