<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/vendors/css/normalize.css">
        <link rel="stylesheet" href="/static/vendors/css/grid.css">
        <link rel="stylesheet" href="/static/vendors/css/ionicons.min.css">
        <link rel="stylesheet" href="/static/resources/css/style.css">
        <link rel="stylesheet" href="/static/resources/css/queries.css">

        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300italic,400" rel="stylesheet">
        <title>OAS-based on Web</title>
    </head>
    <body>
        <section class="first-header">
            <nav class="sticky">
                <div class="row">
                    <p class="logo-black">
                        {% if user.is_authenticated %}
                            Welcome,{{ user_detail.user }}
                        {% else %}
                            Online-Answer-System
                        {% endif %}
                    </p>

                        <ul class="main-nav">
                            <li><a href="/">All</a></li>
                            {% if user_detail.instr == 0 %}
                                <li><a href="/issue/">Ask</a></li>
                                <li><a href="/myquestion/">My Ques</a></li>
                            {% endif %}
                            <li><a href="/choice_cate/">Collages</a></li>
                            {% if user.is_authenticated %}
                                <li><a href="/logout/">Out</a></li>
                                <li><a href="/password_view/">change_pwd</a></li>
                                {% if numbers is not 0 %}
                                    {% if user_detail.instr == 1 %}
                                        <li style="color: red"><a href="/hint/">@me({{ numbers }})</a></li>
                                    {% endif %}
                                {% endif %}
                                {% else %}
                                    <li><a href="/login_view/">Log</a></li>
                            {% endif %}
                        </ul>
                </div>
            </nav>
        </section>

        {% block main-content %}
        <section class="section-features js--section-features">
            <div class="row">
                <h2 class="big-title">This is your question-list</h2>
                <p class="long-copy">
                    Hello, we’re OAS-Team, you can check these questions without logging.If you have any questions about your course, don't be shy to ask!
                </p>
            </div>

            <div class="row">
                <div class="col span-1-of-2 box">
                    <i class="ion-ios-infinite-outline icon-big"></i>
                    <h3 style="color: green; font-size: 30px">The solved questions</h3>
                {% for question in question_list_1 %}
                    {% if question.finished == 1 %}
                        <p style="font-weight: bolder;font-size: 24px;color: black"><a href="/detail/{{ question.id }}/" style="border: none">{{ question.title }}</a></p>
                        <p style="font-size: 18px;color: rgba(47,47,47,0.73)">{{ question.summary }}</p>
                        <p><span style="font-size: 16px;color: green; font-weight: bolder">[Solved]</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: blue">{{ question.category }}</span> </p>
                        <p style="font-size: 16px"><span style="color: hotpink; font-weight: bolder">{{ question.author }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Date:{{ question.publish_date }}</p>
                        <p>&nbsp;</p>
                    {% endif %}
                {% endfor %}
                </div>

                <div class="col span-1-of-2 box">
                    <i class="ion-ios-nutrition-outline icon-big"></i>
                    <h3 style="color: red; font-size: 30px">The unsolved questions</h3>
                    <div class="col Unsolved">
                    {% for question in question_list_2 %}
                        {% if question.finished == 0 %}
                            <p style="font-weight: bolder;font-size: 24px;color: black"><a href="/detail/{{ question.id }}/" style="border: none">{{ question.title }}</a></p>
                            <p style="font-size: 18px;color: rgba(47,47,47,0.73)">{{ question.summary }}</p>
                            <p><span style="font-size: 16px;color: red; font-weight: bolder">[Unsolved]</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: blue">{{ question.category }}</span> </p>
                            <p style="font-size: 16px"><span style="color: hotpink; font-weight: bolder">{{ question.author }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Date:{{ question.publish_date }}</p>
                            <p>&nbsp;</p>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>

            </div>

        </section>
        {% endblock %}


        <footer>
            <div class="row">
                <div class="col span-1-of-2">
                    <ul class="footer-nav">
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Press</a></li>
                        <li><a href="#">ios App</a></li>
                        <li><a href="#">Android App</a></li>
                    </ul>
                </div>
                <div class="col span-1-of-2">
                    <ul class="social-links">
                        <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                        <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                        <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                        <li><a href="#"><i class="ion-social-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <p>
                    Copyright &copy; 2019 by OAS-Team. All right reserved.
                </p>
            </div>
        </footer>


    </body>



</html>

